.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 50rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    transition: all 0.5s ease-out;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 2.4rem rgba($color-black, 0.3);

    &-front {
      background-color: $color-white;
    }

    &-back {
      transform: rotateY(180deg);
      // card-1
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      // card-2
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-lighter,
          $color-primary-darken
        );
      }
      // card-1
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-teritary-light,
          $color-teritary-dark
        );
      }
    }
  }

  &:hover &__side-front {
    transform: rotateY(-180deg);
  }
  &:hover &__side-back {
    transform: rotateY(0);
  }
  // FRONT SIDE.
  &__photo {
    background-size: cover;
    height: 22rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &--p1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
    // card-2
    &--p2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-lighter,
          $color-primary-darken
        ),
        url(../img/nat-6.jpg);
    }
    // card-3
    &--p3 {
      background-image: linear-gradient(
          to right bottom,
          $color-teritary-light,
          $color-teritary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }
  &__heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 10rem;
    right: 2rem;
  }
  &__heading-span {
    padding: 1.2rem 1.6rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    // card-1
    &-1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)
      );
    }

    // card-2
    &-2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-lighter, 0.8),
        rgba($color-primary-darken, 0.8)
      );
    }
    // card-3
    &-3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-teritary-light, 0.8),
        rgba($color-teritary-dark, 0.8)
      );
    }
  }
  &__text {
    ul {
      list-style: none;
      flex-basis: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2.4rem;
      li {
        font-size: 1.4rem;
        text-align: center;
        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
  // BACK side.
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
  &__price-box {
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.2rem;
  }
  &__price-only {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  &__price-amount {
    font-size: 7.4rem;
    font-weight: 100;
  }
  @include respond(tab-port) {
    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      height: auto;
      border-radius: 3px;
      background-color: $color-white;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
      &__side {
        height: auto;
        position: relative;
        box-shadow: none;
        &-back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        }

        &:hover &__side-front {
          transform: rotateY(0);
        }

        &__cta {
          position: relative;
          top: 0;
          left: 0;
          transform: translate(0);
          width: 100%;
          padding: 7rem 4rem 4rem 4rem;
        }
        &__price-box {
          @include center-flex;
          flex-direction: column;
          gap: 3.2rem;
        }

        &__price-amount {
          font-size: 7.4rem;
        }
      }
    }
  }
}
